<<<<<<< HEAD
@import "tailwindcss";
=======
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import "tailwindcss";
>>>>>>> 12c110aa06a2b22c969937ce6e8f2964850066ec
